<div class="account-container">
  <div class="account-header login-header">
    <span>Welcome back</span>
  </div>
  <div class="account-body login-body">
    <form action="/account/login" method="post" class="input-account">
      <input type="text" placeholder="Username" name="user_id">
      <input type="password" placeholder="Password" name="user_pw">
    </form>
      <button class="account-btn login-btn">Login</button>
  </div>
  <div class="account-footer login-footer">
    <button id="register-page-btn">Register Account</button>
    <button>Forgot you'r Account?</button>
  </div>
</div>

<script>
  window.onload = () => {
  document.getElementById('register-page-btn').addEventListener('click', (e) => {
    window.location.href = '/account/register';
  });
  document.querySelector('.login-btn').addEventListener('click', (e) => {
    document.querySelector('.input-account').submit();
  })
}
</script>