<div class="account-container">
  <div class="account-header register-header">
    <span>Reigster</span>
  </div>
  <div class="account-body register-body">
    <div class="input-account">
      <input type="text" placeholder="id">
      <input type="password" placeholder="password">
      <input type="password" placeholder="password confirm">
      <input type="text" placeholder="nickname">
      <input type="text" placeholder="email">
    </div>
  </div>
  <div class="account-footer register-footer">
    <button class="account-btn register-btn">Register</button>
  </div>
</div>