<div class="account-container">
  <div class="account-header register-header">
    <span>Reigster</span>
  </div>
  <div class="account-body register-body">
    <form action="/account/register" method="post" class="input-account">
      <input type="text" placeholder="id" name="user_id">
      <input type="password" placeholder="password" name="user_pw">
      <input type="password" placeholder="password confirm">
      <input type="text" placeholder="nickname" name="user_nickname">
      <input type="text" placeholder="email" name="user_email">
      <div class="account-footer register-footer">
        <button class="account-btn register-btn">Register</button>
      </div>
    </form>
  </div>
</div>