.login-container {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
}
.login-container > * {
  border-bottom: 1px solid #444;
}
.login-container:last-child {
  border-bottom: none;
}
.login-container button {
  background-color: white;
  border: 1px solid #444;
}
.login-container input {
  border: 1px solid #444;
}
.login-header,
.login-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}
.login-header {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.login-body {
  display: flex;
  padding: 10px;
  height: auto;
  border-bottom: none;
}
.login-body .login-btn {
  width: 30%;
  margin-left: 5%;
}
.login-body .input-account input {
  height: 30px;
  width: 100%;
  margin: none;
}
.login-body .input-account input:first-child {
  margin-bottom: 5px;
}
.login-footer {
  padding: 10px;
  padding-top: 0;
  flex-direction: column;
}
.login-footer button:first-child {
  margin-bottom: 5px;
}
.login-footer button {
  width: 100%;
  height: 30px;
}