<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/common.js"></script>
  <link rel="stylesheet" href="/assets/fontawesome/css/all.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/account.css">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="banner">TODO'S</div>
    <nav>
      <ul>
        <li><a href="/">about</a></li>
        <li><a href="">daily</a></li>
        <li><a href="">weekly</a></li>
      </ul>
      <div class="account">
        <div class="circle"></div>
        <a href="/account/login">login</a>
        {{!-- <button id="login-page-btn">login</button> --}}
      </div>
    </nav>
  </header>
  <section class="content-wrap">
    {{{body}}}
  </section>
  <aside></aside>
  <footer></footer>
</body>

</html>