<div class="todos-container">
  <div class="todos-header">
    <div class="date-info">2022-01-22</div>
  </div>
  <div class="todos-body">
    <ul>
      <li>
        <span>checking weather</span>
        {{!-- <i class="fas fa-trash-alt"></i> --}}
      <li>
        <span>study english</span>
      </li>
      <li>drink coffee</li>
    </ul>
  </div>
  <div class="todos-footer">
    {{wiseSaying}}
  </div>
  <script>
    console.log('{{name}}');
  </script>
</div>
<!-- <div class="todos-container">
      <div class="todos-header">
        <div class="date-info">2022-01-17 ~ 2022-01-23</div>
      </div>
      <div class="todos-body">
        <ul>
          <li>
            <span>checking weather</span>
            <i class="fas fa-trash-alt"></i>
          <li>study english</li>
          <li></li>
        </ul>
      </div>
      <div class="todos-footer"></div>
    </div>
    <div class="todos-container">
      <div class="todos-header">
        <div class="date-info">2022. January</div>
      </div>
      <div class="todos-body">
        <ul>
          <li>
            <span>checking weather</span>
            <i class="fas fa-trash-alt"></i>
          <li>study english</li>
          <li></li>
        </ul>
      </div>
      <div class="todos-footer"></div>
    </div> -->