<div class="todos-container">
  <div class="todos-header">
    <i class="fa-solid fa-angle-left"></i>
    <div class="date-info">
      {{!-- <input type="date" id="date-day" value=""> --}}
      <span id="date-day"></span>
    </div>
    <i class="fa-solid fa-angle-right"></i>
  </div>
  <div class="todos-body">
    <div class="todos-input-container">
      <input type="text" id="todos-input">
      <button id="todos-input-button">입력</button>
    </div>
    <ul>
      {{#each todos}}
      <li data-todo-id="{{this/id}}" class="todo-lists {{this/checked}}">
        <div class="todo-list-container">
          <i class="fa-solid fa-check todo-check-icon hide"></i>
          <span class="todo-lists-span">{{this/content}}</span>
          <i class="fas fa-edit      button-todo-edit"></i>
          <i class="fas fa-trash-alt button-todo-delete"></i>
        </div>
        {{!-- Default hide --}}
        <div class="todo-modify-container hide">
          <input class="todo-lists-modify" value="{{this/content}}"></span>
          <i class="fa-solid fa-check button-todo-edit-update"></i>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="todos-footer">
    test
  </div>
  {{!-- layout.hbs에서 /js/common.js 를 호출하게 됩니다. --}}
  {{!-- <script src="/js/common.js"></script> --}}
  <script type="module" src="/js/daily.js"></script>
</div>