<div class="todos-container">
  <div class="todos-header">
    <div class="date-info">2022-01-22</div>
  </div>
  <div class="todos-body">
    <ul>
      {{#each todos}}
      <li>
        <span>{{todo}}</span>
        <i class="fas fa-trash-alt"></i>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="todos-footer">
    test
  </div>
  <script>
  </script>
</div>